<template>
  <main>
    <header>
      <h3>English Premier League</h3>
    </header>
    <div>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Cups</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="post in posts" :key="post.id">
            <td>{{post.id}}</td>
            <td>{{post.name}}</td>
            <td>{{post.city}}</td>
            <td>{{post.cups}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <aside>
      <form @submit.prevent="addData">
        <div>
          <input type="text" name="id" placeholder="id..." v-model="id" v-validate="'required'">
          <span v-if="errors.has('id')">{{errors.first('id')}}</span>
        </div>
        <div>
          <input
            type="text"
            name="name"
            placeholder="name..."
            v-model="name"
            v-validate="'required'"
          >
          <span v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>

        <div>
          <input
            type="text"
            name="city"
            placeholder="city..."
            v-model="city"
            v-validate="'required'"
          >
          <span v-if="errors.has ('city')">{{errors.first ('city')}}</span>
        </div>

        <div>
          <input
            type="text"
            name="cups"
            placeholder="cups..."
            v-model="cups"
            v-validate="'required'"
          >
          <span v-if="errors.has ('cups')"></span>
          {{errors.first('cups')}}
        </div>

        <div>
          <button type="button button-primary">Add Stat</button>
          <span></span>
        </div>
      </form>
    </aside>
  </main>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import VeeValidate from "vee-validate";

//use vee validate

Vue.use(VeeValidate);
export default {
  data() {
    return {
      posts: null,
      id: null,
      name: null,
      city: null,
      cups: null
    };
  },
  created() {
    this.pullData();
  },
  methods: {
    pullData() {
      axios.get("http://localhost:3000/data").then(response => {
        this.posts = response.data.stats;
      });
    },
    addData() {
      this.$validator.validateAll().then(res => {
        if (res) {
          axios.post("http://localhost:3000/data").then(response => {
            response.data = this.posts.push({
              id: this.id,
              name: this.name,
              city: this.city,
              cups: this.cups
            });
          });
        }
      });
    }
  }
};
</script>

<style scoped>
</style>
